@charset "EUC-KR";

hr {
    clear: both;
    width: auto;
    height: 0;
    background-color: transparent;
}

.cf:after{
	content:"";
	display:block;
	clear:both
}

.my-box {
	padding:20px 0 20px 10px;
	font-size:23px;
	font-weight: bold;
}
  
.cafe_a {
	display:inline-block;
    padding:0 12px;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    background-color: #1dcdff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration:none
}

.cafe_button {
	display:inline-block;
    padding:0 12px;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    background-color: #1dcdff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border:0
}

.cafe_text {
	height: 36px;
    width: 300px;
    box-sizing: border-box;
    padding: 0 5px;
    border: 1px solid #ccc;
}

.list-table{
	width:100%;
	margin-top:20px;
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
}
.list-table th {
	padding:10px;
	font-weight: bold;
	text-align:center;
	border-bottom: 1px solid #ccc;
}
.list-table td {
	padding: 10px;
	text-align:center;
	border-bottom: 1px solid #ccc;
}

.btn-wrap.right{
	float:right;
	display:flex;
}

.btn-wrap.right li + li{
	margin-left:5px
	
}

