@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

hr {
    clear: both;
    width: auto;
    height: 1;
    background-color: transparent;
}

body {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: -0.5px;
	font-family: "맑은 고딕", sans-serif;
	font-size: 0;
	background-color: #f2f2f2;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, .05);
	color: inherit;
	text-decoration: none;
}



div.container {
	padding-top: 16px;
	width: 1200px;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
}

div.container section.rootmenu {
	display: none;
}

div.container section.center {
	position: relative;
	left: 312px;
	width: 872px;
}

div.container section.center div.recent div.title {
	padding: 8px;
}

div.container section.center div.recent {
	position: relative;
	margin-bottom: 16px;
	width: 576px;
	    margin-left: 40px;
}

div.container section.leftside div.loggedout {
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 16px;
	background-color: #fff;
}

div.container section.leftside div.loggedout p.introduction {
	margin-bottom: 8px;
	line-height: 20px;
	color: #4c4c4c;
	font-size: 14px;
}

div.container section.leftside div.loggedout a.button {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 3px;
	width: 120px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

div.container section.leftside div.loggedout a.button.login {
	float: left;
	border-color: #1dcdff;
	color: #fff;
	background-color: #1dcdff;
}

div.container section.leftside div.loggedout a.button.register {
	float: right;
	border-color: #1dcdff;
	color: #0aafdf;
}

div.container section.center div.recent div.title h2 a {
	line-height: 27px;
	color: #292929;
	font-size: 18px;
	font-weight: bold;
}

div.container section.center div.recent div.title p.description {
	line-height: 18px;
	color: #737373;
	font-size: 12px;
}

div.container section.center div.recent ol.items {
	min-height: 400px;
	background-color: #fff;
}

div.container section.center div.recent ol.items li a.item {
	display: block;
	padding: 20px;
	border-bottom: 1px solid #f2f2f2;
}

div.container section.center div.recent ol.items li a.item div.profile span.name
	{
	display: inline-block;
	max-width: 70%;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #292929;
	font-size: 20px;
	font-weight: bold;
}

div.container section.center div.recent ol.items li a.item span.viewcount
	{
	float: right;
	display: block;
	margin-left: 8px;
	padding-left: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: #a6a6a6;
	font-size: 12px;
	background: transparent url("../images/viewcount.png")  no-repeat
		left center;
	background-size: 12px 8px;
}

div.container section.center div.recent ol.items li a.item h3.light {

    margin-top: 10px;
    margin-left: 5px;
    color: darkgray;
    font-size: 12px;

}

div.container section.center div.recent ol.items li a.item h3 {
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.container section.center div.cards {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    text-align: center;
}

div.container section.center div.cards div.card {
	width: 100%;
	margin-bottom: 200px;
	background-color: #fff;
}

div.container section.center div.cards div.card p.profile {
	padding: 12px 16px;
}

div.container section.center div.cards div.card p.profile img.picture {
	margin-right: 6px;
	width: 20px;
	height: 20px;
	vertical-align: top;
}

li a.community[data-v-270a5cff] {
	position: relative;
	display: block;
	padding: 12px 16px 12px 72px;
	border-bottom: 1px solid #f2f2f2;
	background-color: #fff
}

li a.community figure[data-v-270a5cff] {
	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	background-image: url("/images/pages/main/empty.png");
	background-repeat: no-repeat;
	background-size: cover
}

li a.community img.new[data-v-270a5cff] {
	float: left;
	display: block;
	margin: 4px 0 0 4px;
	width: 10px;
	height: 10px
}

li a.community p.name[data-v-270a5cff] {
	float: left;
	max-width: 92%;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #292929;
	font-size: 16px
}

li a.community p.details span[data-v-270a5cff] {
	display: inline-block;
	margin-right: 4px;
	line-height: 18px;
	font-size: 12px
}

li a.community p.details span.pick[data-v-270a5cff] {
	padding-left: 14px;
	color: #0aafdf;
	background: transparent url("/images/pages/main/pick.blue.png")
		no-repeat left center;
	background-size: 10px 11.5px
}

li a.community p.details span.category[data-v-270a5cff] {
	color: #737373;
	font-weight: bold
}

li a.community p.description[data-v-270a5cff] {
	max-height: 48px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #737373;
	font-size: 12px
}

div.container{
	position: relative;
	box-sizing: border-box;
	margin: 0 auto
}

@media only screen and (min-width: 1200px) {
	div.container{
		padding-top: 16px;
		width: 1200px
	}
}

@media only screen and (min-width: 1200px) {
	div.container section.rootmenu{
		display: none
	}
}

@media only screen and (max-width: 1199px) {
	div.container section.rootmenu{
		position: relative;
		display: block;
		margin-bottom: 16px;
		padding: 0 16px
	}
	div.container section.rootmenu::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 50%;
		background-color: #1dcdff
	}
	div.container section.rootmenu::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 50%;
		background-color: #f2f2f2
	}
	div.container section.rootmenu div.wrap{
		position: relative;
		z-index: 1;
		padding: 24px 12px;
		border-radius: 6px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
		background-color: #fff
	}
	div.container section.rootmenu div.wrap div.row{
		display: flex;
		justify-content: space-between
	}
	div.container section.rootmenu div.wrap div.row:first-of-type
		{
		margin-bottom: 16px
	}
	div.container section.rootmenu div.wrap div.row a{
		display: block;
		flex-basis: 72px;
		height: 72px;
		line-height: 20px;
		color: #292929;
		font-size: 12px;
		text-align: center
	}
	div.container section.rootmenu div.wrap div.row a::before
		{
		content: "";
		display: block;
		margin: 0 auto 4px;
		border-radius: 16px;
		width: 48px;
		height: 48px;
		background-color: #f1fafc;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px 24px
	}
	div.container section.rootmenu div.wrap div.row .club::before
		{
		background-image: url("/images/pages/main/rootmenu.club.png")
	}
	div.container section.rootmenu div.wrap div.row .activity::before
		{
		background-image: url("/images/pages/main/rootmenu.activity.png")
	}
	div.container section.rootmenu div.wrap div.row .contest::before
		{
		background-image: url("/images/pages/main/rootmenu.contest.png")
	}
	div.container section.rootmenu div.wrap div.row .study::before
		{
		background-image: url("/images/pages/main/rootmenu.study.png")
	}
	div.container section.rootmenu div.wrap div.row .job::before
		{
		background-image: url("/images/pages/main/rootmenu.job.png")
	}
	div.container section.rootmenu div.wrap div.row .event::before
		{
		background-image: url("/images/pages/main/rootmenu.event.png")
	}
	div.container section.rootmenu div.wrap div.row .community::before
		{
		background-image: url("/images/pages/main/rootmenu.community.png")
	}
	div.container section.rootmenu div.wrap div.row .manager::before
		{
		background-image: url("/images/pages/main/rootmenu.manager.png")
	}
}

@media only screen and (min-width: 1200px) {
	div.container section.center{
		position: relative;
		left: 312px;
		width: 872px
	}
}

@media only screen and (max-width: 1199px) {
	div.container section.center{
		margin-top: 8px
	}
}

@media only screen and (min-width: 1200px) {
	div.container section.center div.recent{
		position: relative;
		margin-bottom: 16px;
		width: 576px
	}
	div.container section.center div.recent:last-of-type {
		margin-bottom: 0
	}
}

@media only screen and (max-width: 1199px) {
	div.container section.center div.recent{
		margin-bottom: 8px
	}
}

div.container section.center div.recent div.title{
	padding: 8px
}

div.container section.center div.recent div.title h2 a
	{
	line-height: 27px;
	color: #292929;
	font-size: 18px;
	font-weight: bold
}

div.container section.center div.recent div.title p.description
	{
	line-height: 18px;
	color: #737373;
	font-size: 12px
}

div.container section.center div.recent ol.items{
	min-height: 400px;
	background-color: #fff
}

div.container section.center div.recent ol.items li a.item
	{
	display: block;
	padding: 16px;
	border-bottom: 1px solid #f2f2f2
}

div.container section.center div.recent ol.items li a.item div.profile img.picture
	{
	display: inline-block;
	margin-right: 8px;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	vertical-align: top;
	background-color: #f2f2f2;
	background-position: center center;
	background-size: cover
}

div.container section.center div.recent ol.items li a.item div.profile span.name
	{
	display: inline-block;
	max-width: 70%;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #292929;
	font-size: 14px;
	font-weight: bold
}

div.container section.center div.recent ol.items li a.item h3
	{
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

div.container section.center div.recent ol.items li a.item h3.light
	{

    margin-top: 10px;
    margin-left: 5px;
    color: darkgray;
    font-size: 12px;

}

div.container section.center div.recent ol.items li a.item h3.bold
	{
	color: #292929;
	font-size: 14px;
	font-weight: bold
}

div.container section.center div.recent ol.items li a.item span.detail
	{
	display: block;
	margin-top: 4px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #a6a6a6;
	font-size: 14px
}

div.container section.center div.recent ol.items li a.item span.dday
	{
	float: right;
	display: block;
	margin-left: 8px;
	line-height: 20px;
	letter-spacing: 0;
	color: #a6a6a6;
	font-size: 12px;
	font-weight: bold
}

div.container section.center div.recent ol.items li a.item span.dday.active
	{
	    color: red;
}

div.container section.center div.recent ol.items li a.item span.viewcount
	{
	float: right;
	display: block;
	margin-left: 8px;
	padding-left: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: #a6a6a6;
	font-size: 12px;
	background: transparent url("../images/viewcount.png")  
		no-repeat left center;
	background-size: 12px 8px
}
div.container section.center div.recent ol.items li a.item hr
	{
	margin-bottom: 4px
}

@media only screen and (min-width: 1200px) {
	div.container section.center div.cards{
		position: absolute;
		top: 0;
		right: 0;
		width: 200px
	}
}

@media only screen and (max-width: 1199px) {
	div.container section.center div.cards{
		position: relative;
		margin-bottom: 8px;
		padding: 8px 56px 8px 8px;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
		background-color: #fff
	}
	div.container section.center div.cards::-webkit-scrollbar
		{
		display: none
	}
}

div.container section.center div.cards div.card{
	width: 100%;
	background-color: #fff
}

@media only screen and (min-width: 1200px) {
	div.container section.center div.cards div.card{
    margin-bottom: 200px;
    height: 150px;
	}
}

@media only screen and (max-width: 1199px) {
	div.container section.center div.cards div.card{
		display: inline-block;
		margin-right: 8px;
		border: 1px solid #f2f2f2
	}
	div.container section.center div.cards div.card:last-of-type
		{
		margin-right: -48px
	}
}

div.container section.center div.cards div.card p.profile
	{
	padding: 12px 16px
}

div.container section.center div.cards div.card p.profile img.picture
	{
	display: inline-block;
	margin-right: 6px;
	width: 20px;
	height: 20px;
	vertical-align: top
}

div.container section.center div.cards div.card p.profile span.nickname
	{
	display: inline-block;
	max-width: 100%;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #292929;
	font-size: 14px;
	font-weight: bold
}

div.container section.center div.cards div.card p.profile span.badge
	{
	float: right;
	display: block;
	padding: 0 4px;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	line-height: 16px;
	letter-spacing: 0;
	color: #a6a6a6;
	font-size: 10px
}

div.container section.center div.cards div.card figure.thumbnail
	{
	background-color: #f8f8f8
}

@media only screen and (min-width: 1200px) {
	div.container section.center div.cards div.card figure.thumbnail
		{
		height: 186px
	}
}

div.container section.center div.cards div.card figure.thumbnail img
	{
	width: 100%;
	height: auto
}

div.container section.center div.cards div.card div.content
	{
    position: relative;
    padding: 10px;
    top: -50px;
}

div.container section.center div.cards div.card div.content h3
	{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: floralwhite;
    font-size: 20px;
    line-height: unset;
    font-weight: bolder;
}

div.container section.center div.cards div.card div.content p.text
	{

    max-height: 36px;
    line-height: 50px;
    overflow: hidden;
    color: lightyellow;
    font-size: 24px;
    margin-bottom: 18px;
}

div.container section.center div.cards div.card div.content a.button
	{
    display: block;
    margin-top: 10px;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #ffcc1c;
}

@media only screen and (min-width: 1200px) {
	div.container section.leftside{
		position: absolute;
		top: 16px;
		left: 16px;
		width: 280px
	}
}

div.container section.leftside div.loggedout{
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 16px;
	background-color: #fff
}

@media only screen and (max-width: 1199px) {
	div.container section.leftside div.loggedout{
		display: none
	}
}

div.container section.leftside div.loggedout p.introduction
	{
	margin-bottom: 8px;
	line-height: 20px;
	color: #4c4c4c;
	font-size: 14px
}

div.container section.leftside div.loggedout a.button{
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 3px;
	width: 120px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	text-align: center
}

div.container section.leftside div.loggedout a.button.login
	{
	float: left;
	border-color: #1dcdff;
	color: #fff;
	background-color: #1dcdff
}

div.container section.leftside div.loggedout a.button.register
	{
	float: right;
	border-color: #1dcdff;
	color: #0aafdf
}

div.container section.leftside div.logged{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 24px 16px 24px 92px;
	background-color: #fff
}

@media only screen and (max-width: 1199px) {
	div.container section.leftside div.logged{
		display: none
	}
}

div.container section.leftside div.logged img.picture{
	position: absolute;
	top: 24px;
	left: 16px;
	border-radius: 3px;
	width: 60px;
	height: 60px
}

div.container section.leftside div.logged span.nickname
	{
	display: block;
	margin-bottom: 6px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #292929;
	font-size: 18px;
	font-weight: bold
}

div.container section.leftside div.logged a.button{
	display: inline-block;
	margin-right: 4px;
	padding: 0 8px;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	height: 28px;
	line-height: 28px;
	color: #737373;
	font-size: 12px;
	text-align: center
}

div.container section.leftside h2{
	padding: 8px;
	line-height: 18px;
	color: #737373;
	font-size: 15px;
	font-weight: bold;
	margin-top: 40px;
}

div.container section.leftside ol.communities{
	margin-bottom: 8px
}

li a.community{
    position: relative;
    display: block;
    padding: 12px 16px 12px 72px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
}

li a.community figure{
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    background-image: url(/images/pages/main/empty.png);
    background-repeat: no-repeat;
    background-size: cover;
}

li a.community p.name{
    float: left;
    max-width: 92%;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #292929;
    font-size: 16px;
}

li a.community p.details span{
    display: inline-block;
    margin-right: 4px;
    line-height: 18px;
    font-size: 12px;
}


li a.community p.details span.pick{

	float: right;
	display: block;
	margin-left: 8px;
	padding-left: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: #a6a6a6;
	font-size: 12px;
	background: transparent url("../images/viewcount.png")  
		no-repeat left center;
	background-size: 12px 8px
}

li a.community p.details span.category{
    color: #737373;
    font-weight: bold;
}

li a.community p.details span{
    display: inline-block;
    margin-right: 4px;
    line-height: 18px;
    font-size: 12px;
}

li a.community p.description{
    max-height: 48px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #737373;
    font-size: 12px;
}

div.container section.leftside ol.communities li.empty{
	padding: 24px 0;
	line-height: 15px;
	color: #737373;
	font-size: 12px;
	text-align: center;
	background-color: #fff
}

div.container section.leftside div.manager{
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 16px;
	background-color: #fff
}

div.container section.leftside div.manager p.introduction{
	margin-bottom: 8px;
	line-height: 20px;
	color: #4c4c4c;
	font-size: 14px
}

div.container section.leftside div.manager a.button{
	display: block;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	height: 38px;
	line-height: 38px;
	color: #292929;
	font-size: 14px;
	font-weight: bold;
	text-align: center
}

div.container div.loading{
	padding: 48px 0
}

div.container div.loading img{
	margin: 0 auto;
	width: 45px;
	height: 45px
}