@charset "utf-8";

body {
    font-family: "맑은 고딕", sans-serif;
    letter-spacing: -0.5px;
    background-color: #f2f2f2;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

header {
    display: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #1dcdff;
    font-size: 0;
}

header > div.wrap > a.logo {
    display: inline-block;
    width: 102px;
    height: 56px;
    background-image: url(/images/nav.logo.mobile.png);
    background-size: 70px 18px;
    background-position: center center;
    vertical-align: top;
}

header > div.wrap > a.logo {
    background-repeat: no-repeat;
}

header > div.wrap > div.account {
    float: right;
    margin: 13px 16px 0 0;
}

header > div.wrap > div.account > a.blue {
    color: #fff;
}

header > div.wrap > div.account > a {
    display: inline-block;
    margin-left: 4px;
    padding: 0 8px;
    border: 1px solid #fff;
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
}

header > div.wrap > div.account > a.white {
    color: #0aafdf;
    background-color: #fff;
}

#container > div.form {
    padding: 24px 24px 48px 24px;
    background-color: #fff;
}

#container div.wrap {
    margin: 0 auto;
    max-width: 380px;
    font-size: 0;
    text-align: center;
}

#container > div.form > div.wrap > input.text {
    display: block;
    margin-bottom: 4px;
    padding: 10px 8px;
    width: 100%;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    color: #292929;
    font-size: 14px;
}

input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="button"], input[type="submit"], textarea {
    -webkit-appearance: none;
}

input, textarea {
    outline: none;
}

#container > div.form > div.wrap > input.submit {
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: centet;
    background-color: #c62917;
}

#container > div.form > div.wrap > a.find {
    display: inline-block;
    margin: 24px;
    line-height: 24px;
    color: #737373;
    font-size: 12px;
}

#container > div.form > div.wrap > a.register > span {
    display: inline-block;
    margin-right: 8px;
    line-height: 24px;
    color: #a6a6a6;
    font-size: 16px;
}

#container > div.form > div.wrap > a.register > strong {
    display: inline-block;
    line-height: 24px;
    color: #c62917;
    font-size: 16px;
    font-weight: bold;
}

#container > div.form > div.wrap > a.register {
    display: inline-block;
}

input, textarea {
    outline: none;
}

footer {
    padding: 16px 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #d6d6d6;
    font-size: 0;
    text-align: center;
}

footer > a.copyright, footer > a.privacy {
    font-weight: bold;
}

footer > a {
    margin: 0 4px;
    color: #737373;
    font-size: 12px;
}

footer > a.copyright, footer > a.privacy {
    font-weight: bold;
}

#container > div.introduction {
    padding: 48px 0;
    background-color: #000000;
}

#container > div.introduction > div.wrap > h1 {
    display: inline-block;
    margin-bottom: 16px;
    width: 120px;
    height: 46px;
    font-size: 0;
    background: transparent url(../img/logo.png) no-repeat;
    background-size: 120px 46px;
}

#container > div.introduction > div.wrap > p {
    font-size: 16px;
    color: #fff;
}


