<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Meeting">

	<insert id="meetingWrite" parameterType="com.ez.swm.meeting.vo.MeetingWrite">
		<![CDATA[
		INSERT INTO MEETING VALUES(
			SEQ_MEETING.NEXTVAl, #{meeting_leader}, #{meeting_age,jdbcType=VARCHAR}, #{meeting_title}, 
			#{meeting_content}, #{meeting_address} , #{meeting_subject}, #{meeting_limit} 
			,  DEFAULT , DEFAULT, DEFAULT
		) 
		]]>
	</insert>
	
	<!-- 모집게시판 총게시글(분야)  -->
	<select id="countMeetingSubject" resultType="int" parameterType="hashmap">
		SELECT COUNT(*) FROM MEETING
		WHERE STATUS = 'N' 
		 <if test="keyword != null">	    
			  AND MEETING_SUBJECT =#{keyword}  
		 </if>
	</select>
	
<!-- 모임 총게시글(검색) / 닉네임 검색도 포함되어있어 조인해야함  -->
	<select id="countMeetingSearch" resultType="int" parameterType="hashmap">

	 		SELECT COUNT(*)			
			FROM MEETING b, MEMBER m 
			WHERE b.MEETING_LEADER=m.USERNO AND b.STATUS='N'
				AND (b.MEETING_ADDRESS LIKE '%'||#{keyword}||'%'  
							OR b.MEETING_TITLE LIKE '%'||#{keyword}||'%' 
							OR m.NICKNAME LIKE '%'||#{keyword}||'%' 
							OR b.MEETING_SUBJECT LIKE '%'||#{keyword}||'%' 
				)

	</select>
		<!-- 모임 내 게시판 총게시글(검색) / 닉네임 검색도 포함되어있어 조인해야함  -->
	<select id="countMeetingBoardSearch" resultType="int" parameterType="hashmap">
			SELECT COUNT(*)
			FROM MEETING_BOARD b, MEMBER m 
			WHERE b.MEETING_BOARD_WRITER=m.USERNO 
				AND b.MEETING_NO=#{meeting_no}
				AND (b.MEETING_BOARD_TITLE LIKE '%'||#{keyword}||'%' OR m.NICKNAME LIKE '%'||#{keyword}||'%')
	
	</select>
	
	<!-- 페이징 추가 -->
	<select id="getMeetingList" parameterType="com.ez.swm.common.paging.PagingVO" resultType="com.ez.swm.meeting.vo.MeetingList" >
		<![CDATA[
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
			FROM (	
				SELECT
	                m.NICKNAME,
					b.MEETING_NO,
					b.MEETING_TITLE,
					b.MEETING_AGE,
					b.MEETING_SUBJECT,
					b.MEETING_ADDRESS,
					b.MEETING_LEADER,
					b.MEETING_LIMIT,
					b.MEETING_DATE,
					b.MEETING_HIT ,
                    p.totalMember
				FROM
					MEETING b, MEMBER m ,(SELECT MEETING_NO ,COUNT(PERMIT) totalMember
                        FROM MEETING_PERMIT
                        WHERE PERMIT = 'Y'
                        GROUP BY MEETING_NO
                        ORDER BY MEETING_NO DESC) p
				WHERE
					b.STATUS = 'N' and m.userno=b.meeting_leader AND p.meeting_no = b.meeting_no
				ORDER BY MEETING_NO DESC
				) A
						)
				WHERE RN BETWEEN #{start} AND #{end}
		]]>
	</select>
	<select id="getMeetingArticle" resultType="com.ez.swm.meeting.vo.MeetingDetail"  parameterType="int">
		<![CDATA[	
			SELECT
	                m.NICKNAME,
	                b.MEETING_NO,
					b.MEETING_TITLE,
					b.MEETING_SUBJECT,
					b.MEETING_CONTENT,
					b.MEETING_ADDRESS,
					b.MEETING_LEADER,
					b.MEETING_LIMIT,
					b.MEETING_HIT				
				FROM
					MEETING b, MEMBER m
				WHERE					
					b.MEETING_NO=#{MEETING_NO} and m.userno=b.meeting_leader

		]]>
	</select>
	
	<!-- 모임게시판 총게시글(분야)  -->
	<select id="countMeetingBoard" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM MEETING_BOARD
			 WHERE MEETING_NO=#{meeting_no} AND STATUS = 'N' 		 
	</select>
	
	<!-- 모임 가입하기 -->
	<insert id="meetingPermit" parameterType="com.ez.swm.meeting.vo.MeetingPermit">
		INSERT INTO MEETING_PERMIT VALUES(
			#{meeting_no}, #{userNo}, #{aboutMe} , #{permit}
		)
		
	</insert>
	
	<select id="getMeetingBoardList" resultType="com.ez.swm.meeting.vo.MeetingBoard" parameterType="hashmap">
		<![CDATA[	
				SELECT * 
				FROM (
					SELECT ROWNUM RN, A.* 
						FROM (
							SELECT 
								m.NICKNAME, 
								p.MEETING_BOARD_NO,
								p.MEETING_BOARD_WRITER,
								p.MEETING_BOARD_TITLE,
								p.MEETING_BOARD_DATE,
								p.MEETING_BOARD_HIT
							FROM 
								MEETING_BOARD p, Member m
							WHERE 
								p.MEETING_NO=#{meeting_no} and m.userno=p.MEETING_BOARD_WRITER and p.STATUS = 'N'
								ORDER BY MEETING_BOARD_NO DESC
							) A
						)
				WHERE RN BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<select id="getPartyBoardArticle" resultType="com.ez.swm.meeting.vo.MeetingBoard" parameterType="hashmap">
		<![CDATA[	
					SELECT 
						m.NICKNAME, 
						p.MEETING_BOARD_NO,
						p.MEETING_BOARD_WRITER,
						p.MEETING_NO,
						p.MEETING_BOARD_TITLE,
						p.MEETING_BOARD_CONTENT,
						p.MEETING_BOARD_DATE,
						p.MEETING_BOARD_HIT
					FROM 
						MEETING_BOARD p, Member m
					WHERE 
						p.MEETING_NO=#{MEETING_NO} and p.MEETING_BOARD_NO=#{MEETING_BOARD_NO} and m.userno=p.MEETING_BOARD_WRITER
		]]>
	</select>	
	<!-- insert, update 한 해당 레코드의 시퀀스 가져오기  -->
	<select id="getParty_no" resultType="int" >
		SELECT SEQ_MEETING_BOARD.CURRVAL FROM DUAL	
	</select>
	
	<insert id="insertPartyBoardArticle"  parameterType="com.ez.swm.meeting.vo.MeetingBoard" >
	  <![CDATA[
				INSERT 
					INTO MEETING_BOARD 
					VALUES(
						SEQ_MEETING_BOARD.NEXTVAL,
						#{meeting_no},
						#{meeting_board_writer},
						#{meeting_board_title},
						#{meeting_board_content},
						SYSDATE, '0', 'N'					
						)		
			]]>
		</insert>
	<!-- 모임 내 게시글 하나 불러오기 -->
	<select id="getMeetingBoard" resultType="com.ez.swm.meeting.vo.MeetingBoardModify">
		SELECT MEETING_BOARD_NO,  MEETING_NO, MEETING_BOARD_WRITER, MEETING_BOARD_TITLE, MEETING_BOARD_CONTENT , 
			   MEETING_BOARD_DATE, MEETING_BOARD_HIT
		FROM MEETING_BOARD
		WHERE MEETING_BOARD_NO = #{meeting_board_no}

	</select>
	
   <select id="getFileList" parameterType="int" resultType="com.ez.swm.meeting.vo.MeetingBoardFile" >
      <![CDATA[
         SELECT
            IDX,MEETING_BOARD_NO, STORED_FILE_NAME, ORIGINAL_FILE_NAME, ROUND(FILE_SIZE/1024,1) AS FILE_SIZE , DEL_GB
         FROM MEETING_BOARD_FILE
         WHERE MEETING_BOARD_NO = #{meeting_board_no} and DEL_GB = 'N'
      ]]>
   
   </select>
   
   <select id="getMeetingOne" resultType="com.ez.swm.meeting.vo.Meeting"  parameterType="int">
		<![CDATA[	
			SELECT *
			FROM MEETING
			WHERE MEETING_NO = #{meeting_no}
			
		]]>
	</select>
	 <!-- 모임 게시판 조회수 업데이트  -->
   <update id="updateMeetingboardHitcount" parameterType="int">
   	<![CDATA[
   		UPDATE MEETING_BOARD
   			SET MEETING_BOARD_HIT=MEETING_BOARD_HIT+1 
   			WHERE MEETING_BOARD_NO = #{MEETING_BOARD_NO}   	   	
   	]]>
   </update>
   
   	<update id="meetingUpdate" parameterType="com.ez.swm.meeting.vo.MeetingUpdate">
		UPDATE MEETING 
		SET MEETING_AGE = #{meeting_age}, MEETING_TITLE = #{meeting_title}, MEETING_CONTENT = #{meeting_content},
			MEETING_ADDRESS = #{meeting_address}, MEETING_SUBJECT = #{meeting_subject}, MEETING_LIMIT = #{meeting_limit}
		WHERE MEETING_NO = #{meeting_no}
	</update>
	
	<delete id="meetingDelete" parameterType="int" >
		DELETE FROM MEETING
		WHERE MEETING_NO = #{meeting_no}
	</delete>

	<!-- 모임 내 게시글 수정하기 -->
	<update id="meetingBoardModify" parameterType="com.ez.swm.meeting.vo.MeetingBoardModify">
		UPDATE MEETING_BOARD 
		SET MEETING_BOARD_TITLE = #{meeting_board_title}, MEETING_BOARD_CONTENT = #{meeting_board_content}
		WHERE MEETING_BOARD_NO = #{meeting_board_no}
	</update>
	
	<!-- 모임 내 게시글 삭제하기 -->
	<delete id="meetingBoardDelete" parameterType="int">
		DELETE FROM MEETING_BOARD
		WHERE MEETING_BOARD_NO = #{meeting_board_no}
	</delete>
	<!-- 신청한 사람들 리스트 불러오긴 -->
	<select id="meetingPermitList" resultType="com.ez.swm.meeting.vo.MeetingPermitList">
		SELECT P.MEETING_NO,P.USERNO, M.NICKNAME ,P.ABOUTME 
		FROM MEETING_PERMIT P JOIN MEMBER M
		ON P.USERNO = M.USERNO
		WHERE MEETING_NO = #{meeting_no} AND PERMIT ='N'
	</select>
	
	<!-- 신청한 사람 수락하기 -->
	<update id="meetingPermitYes">
		UPDATE MEETING_PERMIT
		SET PERMIT = 'Y'
		WHERE MEETING_NO = #{meeting_no} AND USERNO = #{userNo}
	</update>
	
	<!-- 신청한 사람 거절하기 -->
	<delete id="meetingPermitNo">
		DELETE FROM MEETING_PERMIT
		WHERE MEETING_NO = #{meeting_no} AND USERNO = #{userNo}
	</delete>
	
	<!-- 모임 상세보기 시 가입상태 확인 -->
	<select id="permitCheck" resultType="String">
		SELECT PERMIT 
		FROM MEETING_PERMIT
		WHERE MEETING_NO =#{meeting_no}AND USERNO = #{userNo}
	</select>
	
	<!-- 댓글 가져오기 -->
		<select id="getPartyBoardComment" resultType="com.ez.swm.meeting.vo.MeetingBoardComment" parameterType="int">
		<![CDATA[	
				SELECT 
				    m.NICKNAME,
				    p.MEETING_BOARD_COMMENT_NO,
				    p.MEETING_BOARD_NO,
				    p.USERNO,
				    p.MEETING_BOARD_COMMENT_CONTENT,
				    p.MEETING_BOARD_COMMENT_DATE,
				    p.MEETING_BOARD_COMMENT_LEVEL,
				    p.MEETING_BOARD_COMMENT_REFNO,
				    p.STATUS
				FROM MEETING_BOARD_COMMENT p, MEMBER m
				WHERE p.MEETING_BOARD_NO=#{PARTY_NO} AND m.userno=p.USERNO
				ORDER BY p.MEETING_BOARD_COMMENT_REFNO ASC, p.MEETING_BOARD_COMMENT_LEVEL ASC
				
		]]>
	</select>
	
	
	<!-- 댓글 쓰기 -->
	<insert id="insertPartyBoardComment" parameterType="com.ez.swm.meeting.vo.MeetingBoardComment">
	
	insert into MEETING_BOARD_COMMENT (
	    MEETING_BOARD_COMMENT_NO,
	    MEETING_BOARD_NO,
	    USERNO,
	    MEETING_BOARD_COMMENT_CONTENT,
	    MEETING_BOARD_COMMENT_DATE,
	    MEETING_BOARD_COMMENT_LEVEL,
	    MEETING_BOARD_COMMENT_REFNO)
	values(
	    SEQ_MEETING_BOARD_COMMENT.nextval,
	    #{meeting_board_no},
	    #{userNo},
	   	#{meeting_board_comment_content},
	    SYSDATE,
	    #{meeting_board_comment_level},
	    	<!-- 부모댓글이면 새로운 번호 부여 -->
	    <if test="meeting_board_comment_refno == 0">	    
	     SEQ_MEETING_BOARD_COMMENT.currval
		)</if>
		 <if test="meeting_board_comment_refno != 0">
		 	<!-- 자식댓글이면 부모댓글 참조 번호 부여  -->
	     #{meeting_board_comment_refno}
		)</if>
	
	</insert>
	
	
	
	<!-- 자식댓글의 level가져오기   -->
	<select id="getLastLevel"   parameterType="int" resultType="int">
		<![CDATA[
			SELECT MAX(MEETING_BOARD_COMMENT_LEVEL) 
			FROM MEETING_BOARD_COMMENT 
			WHERE MEETING_BOARD_COMMENT_REFNO=#{meeting_board_comment_refno}
	     ]]>
	
	</select>
 
<!-- 	모임 게시판 댓글 갯수 -->
	<select id="countMeetingboardComment" parameterType="int" resultType="com.ez.swm.meeting.vo.CommentCount"> 
		<![CDATA[
			SELECT c.MEETING_BOARD_NO, COUNT(*) as COMMENT_COUNT
			FROM MEETING_BOARD b, MEETING_BOARD_COMMENT c 
			WHERE b.MEETING_NO = #{MEETING_NO} and b.MEETING_BOARD_NO = c.MEETING_BOARD_NO AND c.STATUS = 'N'
			GROUP BY c.MEETING_BOARD_NO

		]]>
	
	</select> 
	
	
<!-- 댓글 삭제 -->	
   <update id="deleteComment" parameterType="int">
	   	<![CDATA[
			 update meeting_board_comment set status='Y' where meeting_board_comment_no =#{MEETING_BOARD_COMMENT_NO}
	   	]]>
   </update>
	
		
	<!-- 모임게시판 검색(통합검색으로 제목이랑 닉네임으로 검색가능)  -->
	<select id="searchMeetingBoard" resultType="com.ez.swm.meeting.vo.MeetingBoard" parameterType="hashmap">
		<![CDATA[
				SELECT * 
				FROM (
					SELECT ROWNUM RN, A.* 
						FROM (
							SELECT 
								m.NICKNAME, 
								b.MEETING_BOARD_NO,
								b.MEETING_BOARD_WRITER,
								b.MEETING_BOARD_TITLE,
								b.MEETING_BOARD_DATE,
								b.MEETING_BOARD_HIT
							FROM MEETING_BOARD b, MEMBER m 
							WHERE b.MEETING_BOARD_WRITER=m.USERNO 
								AND b.MEETING_NO=#{meeting_no}
								AND (b.MEETING_BOARD_TITLE LIKE '%'||#{keyword}||'%' OR m.NICKNAME LIKE '%'||#{keyword}||'%')
							) A
						)
				WHERE RN BETWEEN #{start} AND #{end}
				
		]]>
	
	</select>
	
	
	
	
	
	
	<!-- 모집게시판 검색(통합검색으로  구, 제목, 닉네임 으로 검색  -->
	<select id="searchMeeting" resultType="com.ez.swm.meeting.vo.MeetingList" parameterType="hashmap">
			<![CDATA[
							SELECT * 
				FROM (
					SELECT ROWNUM RN, A.* 
						FROM (
							SELECT 			
				                m.NICKNAME, 
								b.MEETING_NO,
								b.MEETING_LEADER,
								b.MEETING_TITLE,
								b.MEETING_ADDRESS,
								b.MEETING_SUBJECT,
				                b.MEETING_DATE,
				                b.MEETING_HIT
							FROM MEETING b, MEMBER m 
							WHERE b.MEETING_LEADER=m.USERNO AND b.STATUS='N'
							AND (b.MEETING_ADDRESS LIKE '%'||#{keyword}||'%'  
										OR b.MEETING_TITLE LIKE '%'||#{keyword}||'%' 
										OR m.NICKNAME LIKE '%'||#{keyword}||'%' 
										OR b.MEETING_SUBJECT LIKE '%'||#{keyword}||'%' 
										)
							ORDER BY MEETING_NO DESC
						) A
					)
				WHERE RN BETWEEN #{start} AND #{end}
			]]>
		</select>
	
	
	
	<!-- 모집게시판 분야 선택 검색 -->
	<select id="selectSubject" resultType="com.ez.swm.meeting.vo.MeetingList" parameterType="hashmap">
			<![CDATA[	
				SELECT * 
				FROM (
					SELECT ROWNUM RN, A.* 
						FROM (
							SELECT 			
				                m.NICKNAME, 
								b.MEETING_NO,
								b.MEETING_LEADER,
								b.MEETING_TITLE,
								b.MEETING_ADDRESS,
								b.MEETING_SUBJECT,
				                b.MEETING_DATE,
				                b.MEETING_HIT
							FROM MEETING b, MEMBER m 
							WHERE b.MEETING_LEADER=m.USERNO AND b.STATUS='N'
							AND b.MEETING_SUBJECT LIKE '%'||#{keyword}||'%' 
							ORDER BY MEETING_NO DESC
					) A
				)
				WHERE RN BETWEEN #{start} AND #{end}
			
			]]>
		</select>
	<!-- 지역리스트  -->
		<select id="locationList" resultType="com.ez.swm.meeting.vo.Location" parameterType="hashmap">
			<![CDATA[
				select si, gu from location where si=#{location}
			]]>
		</select>
		
		<select id="getMeetingNo"  resultType="int">
			SELECT SEQ_MEETING.CURRVAL FROM DUAL
			
		</select>
		
		<insert id="meetingLeaderPermit" parameterType="com.ez.swm.meeting.vo.LeaderPermit">
			INSERT INTO MEETING_PERMIT VALUES(#{meeting_no},#{userNo}, '모임장이다','Y')
		</insert>
		<!-- 현재 모임 인원 구하기  -->
		<select id="totalMember" resultType="int">
		SELECT COUNT(PERMIT) 
		FROM MEETING_PERMIT
		WHERE MEETING_NO = #{meeting_no} AND PERMIT ='Y'
		</select>
		
		<!-- 모임 조회수 올리기 -->
		<update id="meetingHit" parameterType="int">
			UPDATE MEETING 
			SET MEETING_HIT = MEETING_HIT +1
			WHERE MEETING_NO = #{meeting_no}
		</update>
		
</mapper>
	
	
